.checkoutImg {
  width: 2em;
  height: 2em;
}

.checkoutLead {
  display: inline;
}

.checkoutItem {
  padding-bottom: .2em;
  border-bottom: 0 !important;
}

.checkoutRangeItem {
  margin-top: -.5em;
  border-top: 0 !important;
}

