@import 'variables';

.center {
  text-align: center;
}

.grabBeerCard {
  margin-top: 4.5em;
  padding-top: 1em;
  padding-bottom: .7em;
}

.defaultBkg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  font-weight: $fontWeight-light;
}

.fbBtn {
  background-color: $color-fbBlue !important;
  border-color: $color-fbBlue !important;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  color: #ffc003 !important;
}
