.buddyPhoto {
  width: 80% !important;
  height: 80% !important;
  padding: .5em;
  border-radius: 50%;
}

.buddyItem {
  text-align: left;
}

.buddyName {
  font-size: $fontSize-large !important;
  padding-top: .5em;
}
