ion-view(hide-nav-bar="true")
  img.defaultBkg(src="/img/hoian.png" style="height: 100%")
  ion-content
    .row.actionContainer
      .col.center
        h1.header Welcome to Hoi An, {{currentUser.name}}
        a.button.button-assertive(ng-click="letsGrabABeer(currentUser)") LET'S GRAB A BEER!
