ion-view(title="Home" hide-nav-bar="true")
  ion-content.actionBackground
    .row.actionContainer
      .col.center
        h1.header Welcome to Hoi An, Tomek!
        button.button.button-assertive LET'S GRAB A DRINK 

