ion-view(hide-nav-bar="true")
  ion-content.actionBackground
    .row.actionContainer
      .col.center
        h1.header Welcome to Hoi An, Tomek!
        a.button.button-assertive(href="#/tab/match") LET'S GRAB A DRINK 

