.list.card.center
  .item.item-body
    img.full-image.matchProfilePhoto(src="img/gia.jpg")
    h1 Ngo Hoang Gia
    p 23 years old. Speak English. Loves soccer, R&B and travelling.
    .row.matchBtnContainer
      .col.col-50
        a(href="#")
          button.button.button-stable.matchBtn.icon.ion-close-round
      .col.col-50
        a(href="#")
          button.button.button-assertive.matchBtn.icon.ion-checkmark-round


