ion-view(hide-nav-bar="true")
  ion-content.padding.defaultBkg
    .list.card.matchProfileCard.center
      .item.item-body
        img.full-image.matchProfilePhoto(ng-src="{{::user.picture}}")
        h1.header {{::user.name}}
        p.profileInfo {{::user.info}}
        .row.matchBtnContainer
          .col.col-50
            a.matchBtn.matchBtn--no.item.item-icon-left(ng-click="ignore(user)")
              i.icon.ion-close-round
          .col.col-50
            a.matchBtn.matchBtn--yes.item.item-icon-right(ng-click="match(user)")
              i.icon.ion-checkmark-round
