ion-view(hide-nav-bar="true")
  ion-content.padding
    .list.card.center
      .item.item-body
        img.full-image.matchProfilePhoto(ng-src="{{::user.picture}}")
        h1 {{::user.name}}
        p {{::user.info}}
        .row.matchBtnContainer
          .col.col-50
            a(href="#")
              button.button.button-stable.matchBtn.icon.ion-close-round(ng-click="ignore(user)")
          .col.col-50
            a(href="#")
              button.button.button-assertive.matchBtn.icon.ion-checkmark-round(ng-click="match(user)")
