.list.card.center
  .item.item-body
    h2 Let's get a drink!
    img.full-image.matchProfilePhoto(ng-src="{{::user.picture}}")
    h1 {{::user.name}}
    p {{::user.info}}
    .matchClock
      h1 4:58
    .row.matchBtnContainer
      .col.col-50
        button.button.button-stable.matchBtn.icon.ion-close-round(ng-click="reject(user)")
      .col.col-50
        button.button.button-assertive.matchBtn.icon.ion-checkmark-round(ng-click="accept(user)")


