.list.card.center
  .item.item-body
    h2 Let's get a drink!
    img.full-image.matchProfilePhoto(src="img/tomek.jpg")
    h1 Tomek 
    p 35 years old. Speak English. Loves rugby, jazz and travelling.
    .matchClock
      h1 4:58
    .row.matchBtnContainer
      .col.col-50
        button.button.button-stable.matchBtn.icon.ion-close-round
      .col.col-50
        button.button.button-assertive.matchBtn.icon.ion-checkmark-round


