ion-view(view-title="Profile")
  ion-content
    ion-list
      ion-item.item-avatar
        img(ng-src="{{currentUser.picture}}")
        h2 {{currentUser.name}}
      ion-item.item-divider Basic Information
      ion-item
        span Age
        span.item-note 28
      ion-item Language
        span.item-note English, French

      //- ----------- Music
      ion-item.item-divider Your Favourite Music
      - var all_genres = ['Jazz', 'R&B', 'Pop', 'Rock']
      each genre in all_genres 
        ion-item.item-toggle
          = genre 
          label.toggle.toggle-energized
            input(type="checkbox")
            .track
              .handle

      //- ----------- Sports
      ion-item.item-divider Your Favourite Sports
      - var all_sports = ['Soccer', 'Basketball', 'Cricket', 'American Football', 'Rugby']
      each sport in all_sports
        ion-item.item-toggle
          = sport 
          label.toggle.toggle-energized
            input(type="checkbox")
            .track
              .handle
      ion-item
        button.button.button-positive(ng-click="save(user)") Save
