ion-view(hide-nav-bar="true")
  img.defaultBkg(src="img/default_bkg.png")
  ion-content.padding
    ion-list
      .list.card.center.grabBeerCard(style="margin-top: .8em")
        ion-item.item
          h3 This one's on us!
          p #beerfriendforver
        ion-item.item.item-image
          img(src="img/budweiser.jpg")
        ion-item.item
          h2 20% off your first bottle of Budweiser!
          p off course your buddy got one, too.
        ion-item.item
          button.button.button-positive.fbBtn
            i.icon.ion-social-facebook(style="padding-right: .5em")
            span Share on Facebook
          button.button.button-light(style="margin-left: .5em") No, thanks.
          
