ion-view(hide-nav-bar="true")
  img.defaultBkg(src="img/default_bkg.png")
  ion-content.padding
    ion-list
      .list.card.center.successCard
        ion-item
          h2 You are all SET!
          h1.jumboHeader LUNA PUB
          h2 24 Tran Phu Street
        ion-item
          h2 Be there by
          h1.jumboHeader 10:30pm
          h2 to claim this promo code
        ion-item.item-divider
          h2.jumboHeader TGYAL
        ion-item(style="padding-top: .5em; padding-bottom: .5em")
          .row
            .col(style="text-align: left")
              img.uberLogo(src="img/uber.png" style="width: 1.5em; height: 1.5em")
              .uberLead Get an Uber
            .col(style="text-align: right")
              strong.balanced 20-30 min
          .row
            .col(style="text-align: left; padding-left: 2.9em; padding-top: 0; margin-top: -.3em")
              small 7km
        ion-item(style="border-bottom: 0; padding-bottom: .1em") Your buddy
        ion-item.item.item-thumbnail-left.item-icon-right.buddyItem(style="border-top: 0")
          img.buddyPhoto(ng-src="{{::user.picture}}")
          h2.buddyName {{::user.name}}
          .energized On his way
          i.icon.ion-ios-telephone-outline
        ion-item.item(style="border-top: 0")
          button.button.button-light Cancel 
