ion-view(view-title="Your Appointment")
  ion-content.padding.defaultBkg
    ion-list
      .list.card.center
        ion-item
          h3 AWESOME!
          h2 Let's grab a beer at
          h1 LUNA PUB
          h2 24 Tran Phu Street
        ion-item
          h2 Be there by
          h1 10:30pm
          h2 to claim your reward
        ion-item.item.item-divider Your buddy
        ion-item.item.item-thumbnail-left.item-icon-right.buddyItem
          img.buddyPhoto(src="img/gia.jpg")
          h2.buddyName Ngo Hoang Gia
          p On his way
          i.icon.ion-ios-telephone-outline
          
