ion-view(hide-nav-bar="true")
  img.defaultBkg(src="img/default_bkg.png")
  ion-content.padding
    ion-list
      .list.card.center.successCard
        ion-item(style="padding-bottom: .3em; border-bottom: 0")
          h2(style="font-weight: 200; font-size: 1.8em") You are all SET!
        ion-item.item.item-thumbnail-left.item-icon-right.buddyItem(style="border-top: 0")
          img.buddyPhoto(ng-src="{{::user.picture}}")
          h2.buddyName {{::user.name}}
          .energized On his way
          button.button.button-balanced(style="position: absolute; top: 1.2em; right: 1.5em") Chat
        ion-item
          .row
            .col.col-50
              h2.header LUNA PUB
              span.item-note 24 Tran Phu Street
            .col.col-50
              h2.header 10:30pm
        ion-item(style="padding-bottom: .2em")
          img(src="img/qr.png" style="height: 8em; width: 8em;")
          button.button.button-block.button-assertive(ui-sref="tab.promo") CLAIM YOUR REWARD
        ion-item(style="padding-top: .5em; padding-bottom: .5em")
          // a.button.button-block.uberBtn(ng-href="{{::uberLink}}" target="_blank")
          button.button.button-block.uberBtn
            img(src="img/uber.png")
            span REQUEST AN UBER
        ion-item.item(style="border-top: 0")
          button.button.button-light Cancel 
