ion-view(hide-nav-bar="true")
  img.defaultBkg(src="img/default_bkg.png")
  ion-content.padding
    ion-list
      .list.card.center.successCard
        ion-item
          h2 You are all SET!
          h1.jumboHeader LUNA PUB
          h2 24 Tran Phu Street
        ion-item
          h2 Be there by
          h1.jumboHeader 10:30pm
        ion-item(style="padding-bottom: .2em")
          img(src="img/qr.png" style="height: 8em; width: 8em;")
          button.button.button-block.button-assertive(ui-sref="tab.promo") CLAIM YOUR REWARD
        ion-item(style="padding-top: .5em; padding-bottom: .5em")
          button.button.button-block.uberBtn
            img(src="img/uber.png")
            span REQUEST AN UBER
        ion-item(style="border-bottom: 0; padding-bottom: .1em") Your buddy
        ion-item.item.item-thumbnail-left.item-icon-right.buddyItem(style="border-top: 0")
          img.buddyPhoto(ng-src="{{::user.picture}}")
          h2.buddyName {{::user.name}}
          .energized On his way
          i.icon.ion-ios-telephone-outline
        ion-item.item(style="border-top: 0")
          button.button.button-light Cancel 
