ion-tabs.tabs-icon-top.tabs-color-active-positive
  ion-tab(title="Home" icon="ion-ios-pint" ui-sref="tab.home")
    ion-nav-view
  ion-tab(title="Profile" icon="ion-ios-toggle" ui-sref="tab.profile")
    ion-nav-view
  ion-tab(title="History" icon="ion-ios-paw")
    ion-nav-view
