ion-tabs.tabs-icon-top.tabs-color-active-positive
  ion-tab(title="Home" icon="ion-ios-pint" href="/home")
    ion-nav-view
  ion-tab(title="Account" icon="ion-ios-toggle" href="/accounts")
    ion-nav-view
  ion-tab(title="History" icon="ion-ios-paw")
    ion-nav-view
