ion-view(hide-nav-bar="true")
  img.defaultBkg(src="img/hoian.png" style="height: 100%")
  ion-content.padding
    .row.waitingSuccessContainer
      .col.center
        img(src="img/waiting_success.gif")
        h2.header Looking for a buddy 
        p We will notify you when someone is available
