ion-view(hide-nav-bar="true")
  ion-content.padding.waitingSuccessBackground
    .row.waitingSuccessContainer
      .col.center
        img(src="img/waiting_success.gif")
        h2.header Looking for a buddy 
        p We will notify you when someone is available
